<div class="container profile-card">
    <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-fullhd is-one-fifth-tablet image-container">
            <figure class="image">
                <img class="is-rounded" src="{{page.author-image}}" alt="{{page.author-name}}">
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
            <h2>{{page.author-name}}</h2>
            <div class="team-title">
                <h3>{{page.author-title}}</h3>
                <div class="team-socials">
                    <a href="{{page.author-instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="{{page.author-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="{{page.author-website}}" target="_blank"><i class="fas fa-globe"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>