<section class="hero is-fullheight" id="hero">
  <div class="hero-body">
    <div class="container main-page">
      <img class="main-image" src="/{{site.logo-url}}" />
      <h1 class="title main-title is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <div class="link-tree">
        <h4>Events</h4>
        {% for event in site.data.events offset: 6 limit:3 %}
          <a href="{% if event.link  %}{{event.link}}{% else %}{{site.url}}{{site.baseurl}}/calendar{% endif %}"
            class="button is-rounded">
            
            {{event.name}} <span class="subtitle">({{event.short-date}})</span></a>
        {% endfor %}

        <h4>Programs</h4>
        <a href="{{site.url}}{{site.base-url}}/programs/burnout"
            class="button is-rounded">
            Burnout Support Program <span class="subtitle">(Coming soon)</span></a>


        <!-- Stay up to date -->
        <h4>Follow us</h4>
        <a href="{{site.url}}{{site.base-url}}/subscribe"
          class="button is-rounded">Subscribe to our newsletter</a>
        <a href="{{site.instagram-link}}"
          class="button is-rounded">Instagram</a>
        <a href="{{site.roadmap-link}}"
          class="button is-rounded">Public roadmap</a>
      </div>
    </div>
  </div>
</section>