<div class="column has-text-left-desktop has-text-left-tablet" id="event-highlight">
    <div>
        <p class="event-tagline">
          {{ page.description }}
        </p>
        <h3><span class="icon">📅</span>{{ page.date | date: "%d %-B, %Y" }}</h3>
            <ul>
                <li><b>Toddlers</b> (size 80 - 104) from <b>10:30 to 13:30</b></li>
                <li><b>Babies</b> (up to size 80) from <b>14:00 to 17:00</b></li>
            </ul>
        <h3><span class="icon">📍</span>{{ page.location-name}} <a href={{page.location-link}}><i class="fas fa-external-link-alt"></i></a></h3>
        <h3><span class="icon">🏃🏼</span>Buyers, no tickets required - just show up!</h3>
            <ul>
                <li>Buyers enter for free 🤑</li>
            </ul>
        <h3><span class="icon">🏃🏼</span>Seller spots are €8-€16</h3>
            <ul>
                <li>
                    Reserve your spot 
                    <a target="_blank" href="https://www.eventbrite.com/e/2-sale-winter-edition-tickets-1147869631969?aff=oddtdtcreator">
                        here <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        <h3><span class="icon">🤗</span>Sale + community hang</h3>
            <ul>
                <li>Coffee and tea</li>
                <li>A place for parents to hang out and meet each other</li>
                <li>A play area for babies/kids</li>
                <li>Donation corner for a charity helping new moms in need</li>  
            </ul>
        <a href="{{site.url}}{{page.url}}#faq"
            class="button">FAQ</a>
    </div>
</div>