<div class="column has-text-left-desktop has-text-left-tablet" id="event-highlight">
    <div>
        <h3 class="event-title-long">{{ page.title-long }}</h3>
        <hr />
        <p class="event-tagline">
          {{ page.description }}
        </p>
        <a href="{{page.ticket-url}}"
        class="button">More info + tickets</a>
        <h3><span class="icon">📅</span>{{ page.date | date: "%d %-B %Y" }} from 11:00 to 13:00</h3>
        <h3><span class="icon">📍</span>{{ page.location-name}} <a href={{page.location-link}}><i class="fas fa-external-link-alt"></i></a></h3>
        <h3><span class="icon">🤗</span>Expert panel + peer support groups</h3>
        <ul>
            <li>Panel of three mamas, all professionally (and some personally) experienced with parental stress and burnout</li>
            <li>Break out into small peer support groups to discuss the panel, share experiences, and learn tips for managing stress and burnout
            <li><b>Baby-friendly</b> venue; all are welcome!</li>
        </ul>
        <h3><span class="icon">🎟️</span>Reserve your spot</h3>
            <ul>
                <li><b>At Cost ticket - €25</b>: Covers brunch for you and our expert panelists</li>
                <li>
                    <b>Support our Community ticket - €30</b>: Covers brunch for you, our expert panelists, and the organizers
                </li>
            </ul>
        <a href="{{page.ticket-url}}"
            class="button">Reserve your spot</a>
    </div>
</div>